extends ../layout

block content
  .event-detail
    .columns
      .column.is-12.has-text-centered
        h2 Event Detail
          a(href='/', class='button button-new') List
    .columns
      .column.is-12
        .event-box
          p
            strong Id :
          p #{event._id}
    .columns
      .column.is-12
        .event-box
          p
            strong Name :
          p #{event.name}
    .columns
      .column.is-12
        .event-box
          p
            strong Description :
          p #{event.description}
    .columns
      .column.is-12
        .event-box
          p
            strong Location :
          p #{event.location}
    .columns
      .column.is-12
        .field.is-grouped.is-grouped-centered
          p.control
            //button.button.is-danger.is-delete Delete
            button(data-id = event._id, class= "button is-danger is-delete") Delete
          p.control
            a(href=`/events/${event._id}/edit`, class='button is-info') Edit